<app-header *ngIf="!hideNavBar"></app-header>

<div class="container mt-5">
    <div class="card">
        <div class="card-header pb-3">Add Question
            <i class=' float-end' [ngClass]="hideNavBar == false ? 'bx bx-expand' : 'bx bx-collapse'"  style="font-size: 30px;" (click)=hideShowNavBar($event)></i>
        </div>
        <form action=""  [formGroup]="addMoreOption" (ngSubmit)="onSubmit()">
            <div class="card-body">




                <div class="row">
                    <div class="col">
                        <label class="form-label">Select Subject</label>
                        <ng-select [(ngModel)]="subject" name="subject" class="col-md-4 form-control ms-2"
                            style="border: none;" (change)="topicList()" placeholder="type to search subject..." formControlName="subject">
                            <ng-option *ngFor="let subject of subjectArr" [value]="subject._id"> {{subject.name}}
                            </ng-option>
                        </ng-select>
                        <span class="validator text-danger" *ngIf="!addMoreOption.get('subject')!.valid && addMoreOption.get('subject')!.touched || submitted && addMoreOption.value.subject == '' ">please select one subject</span>
                    </div>




                    <div class="col">
                        <label class="form-label">Select Topics</label>
                        <ng-select name="topic" [(ngModel)]="topic" formControlName="topic" placeholder="type to search topic..."  class="col-md-4 form-control" style="border: none;">
                            <ng-option *ngFor="let topic of topicArr" [value]="topic._id">{{topic.name}}</ng-option>
                        </ng-select>
                        <span class="validator text-danger" *ngIf="!addMoreOption.get('topic')!.valid && addMoreOption.get('topic')!.touched || submitted && addMoreOption.value.topic == '' ">please select one topic</span>
                    </div>
                </div>
                



                <div class="row">
                    <div class="col">
                        <label class="form-label">Question Type</label>
                        <ng-select  class="col-md-4 form-control" formControlName="type" [(ngModel)]="type" name="type" style="border: none;">
                            <ng-option *ngFor="let type of questionType" [value]="type.name"> {{type.name}}</ng-option>
                        </ng-select>
                        <span class="validator text-danger" *ngIf="!addMoreOption.get('type')!.valid && addMoreOption.get('type')!.touched || submitted && addMoreOption.value.type == '' ">please select one question type</span>
                    </div>

                    <div class="col">
                        <label class="form-label">Difficulty Level</label>
                        <ng-select  class="col-md-4 form-control" formControlName="diffLevel" style="border: none;" [(ngModel)]="diffLevel" name="diffLevel">
                            <ng-option *ngFor="let level of difficultyLevel" [value]="level.name" selected>{{level.name}}
                            </ng-option>
                        </ng-select>
                        <span class="validator text-danger" *ngIf="!addMoreOption.get('diffLevel')!.valid && addMoreOption.get('diffLevel')!.touched || submitted && addMoreOption.value.diffLevel == '' ">please select one difficulty level</span>
                    </div>

                    <div class="col ">
                        <label class="form-label">Right Marks</label>
                        <input type="number" class="marks form-control" formControlName = "rightMarks"  value=1 [(ngModel)]="rightMarks" name="rightmarks"
                           >
                           <span class="validator text-danger" *ngIf="  submitted && addMoreOption.value.rightMarks == null">Please enter a valid right mark</span>
                    </div>

                    <div class="col ">
                        <label class="form-label">Wrong Marks</label>
                        <input type="number" class="marks form-control" formControlName="wrongMarks" value=0 [(ngModel)]="wrongMarks" name="rightmarks"
                            >
                            <span class="validator text-danger" *ngIf="submitted && addMoreOption.value.wrongMarks == null">Please enter a valid wrong mark</span>
                    </div>
                </div>




                <div class="row">
                    <label class="form-label">Question</label>
                    <div class="col" *ngIf="isSelected">
                        <textarea class="form-control" formControlName="questionText" aria-label="With textarea" rows="6" required></textarea>
                        
                    </div>

                    <quill-editor  *ngIf="!isSelected" formControlName="questionText" [styles]="{height : '200px'}"
                        (onEditorChanged)="changedEditor($event)">
                        <!-- <span *ngIf="!addMoreOption.get('subject')!.valid && addMoreOption.get('subject')!.touched">please select one subject</span> -->
                    </quill-editor>
                    <a style="color: grey; cursor: pointer;" (click)="changeEditor()" #enable>Enable rich editor</a>
                    <span class="validator text-danger" *ngIf="submitted && !addMoreOption.get('questionText')!.valid && addMoreOption.get('questionText')!.touched || submitted && addMoreOption.value.questionText == '' ">Question is required</span>
                </div>





                <label class="form-label">Options</label>
                <div formArrayName = 'options'>
                    <div  class="row" *ngFor="let option of formArr.controls; let i=index"   >
                        <div class="col input-group mb-3" [formGroupName]="i">
                            <div class="input-group-text ">
                                <!--  -->
                                    <input *ngIf="type === 'MULTIPLE RESPONSE'; else multipleChoice" class="form-check-input mx-2" 
                                    type="checkbox" value="" id="flexCheckDefault"  (change)="onSelect($event, i)" >
                                <ng-template #multipleChoice>
                                    <input  class="form-check-input me-1 px-2" name="isCorrect" formControlName="isCorrect" type="radio"  
                                    aria-label="Radio button for following text input" [checked]="" (change)="onSelect($event, i)" value="true">
                                </ng-template>
                                Option {{i+1}}
                            </div>
    
                            <textarea *ngIf = "!hiddenItems[i]"  class="form-control"  value="" formControlName="option" aria-label="With textarea" rows="4"
                                name="optionValue" (change)="duplicateCheck(i, $event)">
                            </textarea>
    
                            <quill-editor *ngIf = "hiddenItems[i]"   formControlName="option" [styles]="{height : '80px'}"
                                (onEditorChanged)="changedEditor($event)"  (change)="duplicateCheck(i, $event)">
                            </quill-editor>
                            
                        </div>
                        <div class="row" style="display: inline;">
                            
                            <span  style="color: grey;  cursor: pointer;"  [id]="i + 1" (click)="changeOptionEditor(i,$event)" >Enable rich
                                editor 
                            
                            </span>
                                
                            <a  style="color: grey; cursor: pointer;" (click)="removeOption(i)">Remove option</a>
                        </div>
                        <span  class="validator text-danger" *ngIf="submitted && addMoreOption.value.options[i].option ==  '' ">Option is required</span>
                        <span  class="col validator text-danger" *ngIf=" addMoreOption.value.options.length < 2 ">Add minimum 2 option</span>
                        
                    </div>
                    
                </div>
                <span  class="col validator text-danger" *ngIf="isDuplicate">Duplicate not allowed</span>
                <span  class="validator text-danger" *ngIf="submitted && !correctOptionSelected">Please select one option</span>
                <div class="row float-start" >
                    <button class="btn  float-start mt-3" style="border: none; color: rgb(46, 170, 237); "
                    (click)="addOption()">
                    <span><i class='bx bx-plus-medical' style='color:rgb(46, 170, 237);'></i></span>
                    Add Option</button>
                </div>
               

            <div class="row float-start" >
                
            </div>

            </div>

            


            <div class="card-footer mt-5">
                <button type="submit" class="btn btn-primary float-start" 
                   >

                    Save Question</button>
                <button class="btn  mx-4"  routerLinkActive="router-link-active">

                    Cancel</button>
            </div>


        </form>
    </div>
</div>