@import "~@ng-select/ng-select/themes/default.theme.css";

.validator{
    /* color: red; */
    font-weight: lighter;
}
.marks{
    margin-top: 5px;
}

.subject{
    padding-left: 15px;
}

.questiontype{
    margin-right: 5px;
}

.topic{
    margin-left: 5px;
}