<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/assets/images/logo.svg" alt="" width="100" height="24">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/question']"
                        routerLinkActive="router-link-active" style="color: moccasin;">Question</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <div class="card">
        <div class="card-header pb-3">Update Question</div>
        <form action="" [formGroup]="editQuestion" (ngSubmit)="onSubmit()">
            <div class="card-body">




                <div class="row">
                    <div class="col">
                        <label class="form-label">Select Subject</label>
                        <ng-select [(ngModel)]="subject" name="subject" class="col-md-4 form-control"
                            style="border: none;" (change)="topicList()" formControlName="subject">
                            <ng-option *ngFor="let subject of subjectArr" [value]="subject._id"> {{subject.name}}
                            </ng-option>
                        </ng-select>
                        <span class="validator text-danger"
                            *ngIf="!editQuestion.get('subject')!.valid && editQuestion.get('subject')!.touched || submitted && editQuestion.value.subject == '' ">please
                            select one subject</span>
                    </div>




                    <div class="col">
                        <label class="form-label">Select Topics</label>
                        <ng-select name="topic" formControlName="topic" class="col-md-4 form-control"
                            style="border: none;">
                            <ng-option *ngFor="let topic of topicArr" [value]="topic._id">{{topic.name}}</ng-option>
                        </ng-select>
                        <span class="validator text-danger"
                            *ngIf="!editQuestion.get('topic')!.valid && editQuestion.get('topic')!.touched || submitted && editQuestion.value.topic == '' ">please
                            select one topic</span>
                    </div>
                </div>



                <div class="row">
                    <div class="col">
                        <label class="form-label">Question Type</label>
                        <ng-select class="col-md-4 form-control" formControlName="type" [(ngModel)]="type" name="type"
                            style="border: none;">
                            <ng-option *ngFor="let type of questionType" [value]="type.name"> {{type.name}}</ng-option>
                        </ng-select>
                        <span class="validator text-danger"
                            *ngIf="!editQuestion.get('type')!.valid && editQuestion.get('type')!.touched || submitted && editQuestion.value.type == '' ">please
                            select one type</span>
                    </div>

                    <div class="col">
                        <label class="form-label">Difficulty Level</label>
                        <ng-select class="col-md-4 form-control" formControlName="diffLevel" style="border: none;">
                            <ng-option *ngFor="let level of difficultyLevel" [value]="level.name">{{level.name}}
                            </ng-option>
                        </ng-select>
                        <span class="validator text-danger"
                            *ngIf="!editQuestion.get('diffLevel')!.valid && editQuestion.get('diffLevel')!.touched || submitted && editQuestion.value.diffLevel == '' ">Select
                            one difficulty level</span>
                    </div>

                    <div class="col">
                        <label class="form-label">Right Marks</label>
                        <input type="text" class="form-control" formControlName="rightMarks" placeholder="First name"
                            aria-label="First name">
                        <span class="validator text-danger"
                            *ngIf="!editQuestion.get('rightMarks')!.valid && editQuestion.get('rightMarks')!.touched || submitted && editQuestion.value.rightMarks == '' ">Right
                            Marks is required</span>
                    </div>

                    <div class="col">
                        <label class="form-label">Wrong Marks</label>
                        <input type="text" class="form-control" formControlName="wrongMarks" placeholder="First name"
                            aria-label="First name">
                        <span class="validator text-danger" *ngIf="editQuestion.get('subject')!.touched  ">Wrong Marks
                            is required</span>
                    </div>
                </div>




                <div class="row">
                    <label class="form-label">Question</label>
                    <div class="col">
                        <textarea *ngIf="!isOpenRichText" class="form-control" formControlName="questionText" aria-label="With textarea"
                            rows="6"></textarea>

                    </div>

                    <quill-editor *ngIf="isOpenRichText " [styles]="{height : '200px'}"
                        formControlName="questionText" (onEditorChanged)="changedEditor($event)">

                    </quill-editor>
                    <a style="color: grey; cursor: pointer;" (click)="changeEditor($event)" #enable>Enable rich editor</a>
                    <span class="validator text-danger"
                        *ngIf="!editQuestion.get('subject')!.valid && editQuestion.get('subject')!.touched || submitted && editQuestion.value.questionText == '' ">Question
                        is required</span>
                </div>

               


                <label class="form-label">Options</label>
                <div formArrayName="options">
                    <div class="row" *ngFor="let option of formArr.controls; let i=index">
                        <div class="col input-group mb-3" [formGroupName]="i">
                            <div *ngIf="!isClicked" class="input-group-text ">
                                <!--  -->
                             

                                <input *ngIf="type === 'MULTIPLE RESPONSE'; else multipleChoice"
                                    class="form-check-input mx-2" name="isCorrect" formControlName="isCorrect"
                                    type="checkbox" id="flexCheckDefault">
                                <ng-template #multipleChoice>
                                    <input class="form-check-input me-1 px-2" name="radio" value="true"
                                       [checked] = "this.questionArray.options[i].isCorrect"
                                        type="radio" (change)="onSelect($event, i)">
                                </ng-template>
                                Option {{i+1}}
                            </div>



                            <div *ngIf="isClicked" class="input-group-text ">
                                <!--  -->
                             

                                <input *ngIf="type === 'MULTIPLE RESPONSE'; else multipleChoice"
                                    class="form-check-input mx-2" name="isCorrect" formControlName="isCorrect"
                                    type="checkbox" id="flexCheckDefault">
                                <ng-template #multipleChoice>
                                    <input class="form-check-input me-1 px-2" name="radio" value="true"
                                       
                                        type="radio" (change)="onSelect($event, i)">
                                </ng-template>
                                Option {{i+1}}
                            </div>


                          
                            <textarea *ngIf="!hiddenItems[i]" class="form-control" formControlName="option"
                                aria-label="With textarea" rows="4" name="option">
                            </textarea>

                            <quill-editor *ngIf="hiddenItems[i]" formControlName="option" [styles]="{height : '80px'}"
                                (onEditorChanged)="changedEditor($event)">
                            </quill-editor>

                        </div>
                        <div class="row" style="display: inline;">
                            <a style="color: grey; cursor: pointer;" (click)="changeOptionEditor($event, i)">Enable
                                rich
                                editor </a>
                            <a style="color: grey; cursor: pointer;" (click)="removeOption(i)">Remove option</a>
                        </div>

                        <span  class="validator text-danger" *ngIf="submitted && editQuestion.value.options[i].option ==  '' ">Option is required</span>


                        
                    </div>
                    <div class="row">
                        <button type="button" class="btn  float-start mt-3" style="border: none; color: rgb(46, 170, 237); "
                        (click)="addOption()">
                        <span><i class='bx bx-plus-medical' style='color:rgb(46, 170, 237);'></i></span>
                        Add Option</button>
                    </div>
                    
                </div>



                

            </div>

           


            <div class="card-footer ">
                <button type="submit" class="btn btn-primary">

                    Update Question</button>
                <button class="btn  mx-4">

                    Cancel</button>
            </div>


        </form>
    </div>
</div>